services:
  postgres:
    image: postgres:18.2
    container_name: horizon-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: horizon
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:8.4
    container_name: horizon-redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    restart: unless-stopped
    healthcheck:
      test: [CMD, redis-cli, ping]
      interval: 5s 
      timeout: 5s
      retries: 5
  # client:
  #   image: oven/bun:1.3
  #   container_name: horizon-client
  #   restart: unless-stopped
  #   ports: [3000:3000]
  #   healthcheck: 
  #     test: [CMD, curl, -f, http://localhost:3000]
  #     interval: 5s 
  #     timeout: 1s 
  #     retries: 15 
  #   volumes: [./client:/app, ./client/node_modules:/app/node_modules]
  #   working_dir: /app 
  #   entrypoint: [/bin/sh, -c "bun install\nbun run dev\n"]
volumes:
  pgdata:
  redisdata:
